@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Brand Colors */
:root {
  --blue: #2f3b44;
  --teal: #98c4ba;
  --maroon: #751a2b;
  --light: #eaeaea;
  --dark: #3b3b3c;
}

:root {
  --radius: 0.625rem;
  --background: var(--light);
  --foreground: var(--dark);
  --card: var(--light);
  --card-foreground: var(--dark);
  --popover: var(--light);
  --popover-foreground: var(--dark);
  --primary: var(--blue);
  --primary-foreground: var(--light);
  --secondary: var(--teal);
  --secondary-foreground: var(--light);
  --muted: var(--light);
  --muted-foreground: var(--dark);
  --accent: var(--maroon);
  --accent-foreground: var(--light);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--dark);
  --input: var(--dark);
  --ring: var(--light);
  --chart-1: var(--blue);
  --chart-2: var(--teal);
  --chart-3: var(--maroon);
  --chart-4: var(--light);
  --chart-5: var(--dark);
  --sidebar: var(--blue);
  --sidebar-foreground: var(--light);
  --sidebar-primary: var(--blue);
  --sidebar-primary-foreground: var(--light);
  --sidebar-accent: var(--teal);
  --sidebar-accent-foreground: var(--light);
  --sidebar-border: var(--dark);
  --sidebar-ring: var(--light);
}

.dark {
  --background: var(--dark);
  --foreground: var(--light);
  --card: var(--dark);
  --card-foreground: var(--light);
  --popover: var(--dark);
  --popover-foreground: var(--light);
  --primary: var(--blue);
  --primary-foreground: var(--dark);
  --secondary: var(--teal);
  --secondary-foreground: var(--dark);
  --muted: var(--dark);
  --muted-foreground: var(--light);
  --accent: var(--maroon);
  --accent-foreground: var(--dark);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--light);
  --input: var(--light);
  --ring: var(--dark);
  --chart-1: var(--maroon);
  --chart-2: var(--teal);
  --chart-3: var(--blue);
  --chart-4: var(--dark);
  --chart-5: var(--blue);
  --sidebar: var(--teal);
  --sidebar-foreground: var(--dark);
  --sidebar-primary: var(--maroon);
  --sidebar-primary-foreground: var(--dark);
  --sidebar-accent: var(--blue);
  --sidebar-accent-foreground: var(--dark);
  --sidebar-border: var(--light);
  --sidebar-ring: var(--dark);
}

@layer base {
  /* Custom Fonts */
  body {
    @apply bg-background text-foreground font-[Outfit];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[Baskervville];
  }

  /* Specific heading styles */
  h2 {
    @apply mb-4 text-3xl;
  }

  h3 {
    @apply mb-2 text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply mb-1 text-lg;
  }

  h6 {
    @apply mb-1 text-base;
  }
}

@layer utilities {
  .text-light {
    color: var(--light);
  }
  .text-dark {
    color: var(--dark);
  }
  .text-maroon {
    color: var(--maroon);
  }
}
